<div class="container">
    <div class="row">
        <div class="h1 my-4 p-5 big-info">
            <h1 style="text-align: center;">{{title}}</h1>
        </div>     
    </div>
    <nav class="nav navbar navbar-expand-sm" style="background-color: lightblue;text-align: center;">
        <ul class="navbar-nav">
            <li class="navitem m-2"><a class="btn btn-info" routerLink="/Employees/All">All Employees</a></li>
            <li class="navitem m-2"><a class="btn btn-info" routerLink="/Employees/Add">Add New Employee</a></li>
            <li class="navitem m-2"><a class="btn btn-info" routerLink="/Calc">Calculator</a></li>
            <li class="navitem m-2"><a class="btn btn-info" routerLink="/Master">Master-Detail</a></li>
        </ul>
    </nav>
</div>